In [84]:
import pandas as pd
import numpy as np
import json

In [58]:
df = pd.read_json("https://data.cityofboston.gov/resource/g5b5-xrwi.json")

In [59]:
df.head(5)

,av_bldg,av_land,av_total,cm_id,gis_id,gross_area,gross_tax,land_sf,latitude,living_area,...,u_kitch_style,u_kitch_type,u_num_park,u_orient,u_tot_rms,u_view,unit_num,yr_built,yr_remod,zipcode
0,0,7900,7900,NaN,1102128015,NaN,0,243,#N/A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2130
1,152000,0,152000,NaN,1702569000,0,0,NaN,#N/A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
2,0,20600,20600,NaN,1800079000,0,0,2963,42.272122939699997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
3,0,520800,520800,NaN,1801014000,0,0,26825,42.268792190699997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
4,0,20800,20800,NaN,1802070000,0,22880,4000,42.270164603200001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126

In [43]:
df.shape

(169199, 77)

In [6]:
df.dtypes

av_bldg              int64
av_land              int64
av_total             int64
cm_id              float64
gis_id             float64
gross_area         float64
gross_tax            int64
land_sf            float64
latitude            object
living_area        float64
longitude           object
lu                  object
mail_address        object
mail_addressee      object
mail_cs             object
mail_zipcode        object
num_floors         float64
own_occ             object
owner               object
pid                  int64
ptype                int64
r_ac                object
r_bdrms            float64
r_bldg_styl         object
r_bth_style         object
r_bth_style2        object
r_bth_style3        object
r_ext_cnd           object
r_ext_fin           object
r_fplace           float64
                    ...
s_unit_com         float64
s_unit_rc          float64
s_unit_res         float64
st_name             object
st_name_suf         object
st_num              object
structure_class     object
u_ac                object
u_base_floor       float64
u_bdrms            float64
u_bth_style         object
u_bth_style2        object
u_bth_style3        object
u_corner            object
u_fplace           float64
u_full_bth         float64
u_half_bth         float64
u_heat_typ          object
u_int_cnd           object
u_int_fin           object
u_kitch_style       object
u_kitch_type        object
u_num_park         float64
u_orient            object
u_tot_rms          float64
u_view              object
unit_num            object
yr_built           float64
yr_remod           float64
zipcode            float64
dtype: object

In [27]:
df[['av_total', 'latitude', 'longitude']].head(50)

    av_total            latitude            longitude
0       7900                #N/A                 #N/A
1     152000                #N/A                 #N/A
2      20600  42.272122939699997  -71.077952663299996
3     520800  42.268792190699997  -71.092650659200004
4      20800  42.270164603200001  -71.103090206700003
5      22500       42.2760713005  -71.097266281900005
6       2200  42.277845409999998  -71.097406571999997
7       1100                #N/A                 #N/A
8      70100  42.335425562300003  -71.108149429600005
9      42500       42.3276911735  -71.098235004599999
10    711300  42.329839093799997  -71.109986414900007
11     39900  42.324936454000003  -71.109501733900004
12     27200  42.325066313800001  -71.109158355999995
13    172700        42.314482661  -71.094144821300006
14     33900  42.317996409999999        -71.091662645
15     14500  42.257290923399999  -71.118838726600003
16      2500  42.251993214800002  -71.123134972000003
17     32500  42.251127307499999       -71.1345128679
18     14600       42.2504785016  -71.141134944599997
19   1317800  42.244390876099999  -71.134988398399997
20     16600       42.2777063606  -71.102320746900006
21      5500                #N/A                 #N/A
22     34300        42.296901362  -71.113547805099998
23      1600  42.283289991899998       -71.1328533067
24      5500                #N/A                 #N/A
25      5500                #N/A                 #N/A
26     24400  42.299404231899999  -71.075033281200007
27     27300  42.300696783699998  -71.082771627900001
28     22200  42.286109548799999  -71.082143579299995
29     26800  42.289596389300002  -71.090093677200002
30     28600       42.2834205439  -71.093534493000007
31      5500                #N/A                 #N/A
32     32100  42.302743781300002  -71.058812648300005
33     61200  42.302945062100001  -71.067302887899999
34     24700       42.3090027768  -71.066886412100004
35     14100  42.308583886999998  -71.069381765700001
36     21700  42.310499267600001       -71.0641430652
37      1000  42.293726423999999  -71.131895854500002
38    595700  42.290853189899998  -71.065322158900003
39     15600        42.287720643  -71.039589561100001
40       400  42.287295483999998  -71.061249274600002
41     13000  42.263902685600002  -71.162175822400002
42     65200       42.2792881755  -71.050845329799998
43     86000  42.279352364899999  -71.049585677699994
44   3490800                #N/A                 #N/A
45      6200  42.264303437000002  -71.162035279099996
46      9000  42.286895140699997  -71.071657204900006
47    133000       42.2864579823  -71.075716343099998
48      8400  42.263856082099998        -71.159736482
49     37500  42.283802144399999       -71.0749586771

In [26]:
df.av_total.head(5)

0      7900
1    152000
2     20600
3    520800
4     20800
Name: av_total, dtype: int64

In [28]:
max(df.av_total)

1522973700

In [29]:
df.av_total.max()

1522973700

In [60]:
df = df[df['latitude'] != "#N/A"]

In [45]:
df[['gross_tax']].describe()

          gross_tax
count  1.018420e+05
mean   1.556547e+06
std    2.054422e+07
min    0.000000e+00
25%    1.507275e+05
50%    4.298500e+05
75%    6.372300e+05
max    1.917569e+09

In [46]:
df.shape

(101842, 77)

In [61]:
df = df[df['gross_tax'] != 0]

In [48]:
df.shape

(83827, 77)

In [49]:
df[['gross_tax']].describe()

          gross_tax
count  8.382700e+04
mean   1.891060e+06
std    2.263047e+07
min    1.100000e+02
25%    3.625600e+05
50%    4.827900e+05
75%    7.213800e+05
max    1.917569e+09

In [31]:
df[['latitude', 'longitude', 'gross_tax']]

                  latitude            longitude  gross_tax
4       42.270164603200001  -71.103090206700003      22880
5            42.2760713005  -71.097266281900005      24750
9            42.3276911735  -71.098235004599999      46750
15      42.257290923399999  -71.118838726600003      15950
17      42.251127307499999       -71.1345128679      35750
18           42.2504785016  -71.141134944599997      16060
27      42.300696783699998  -71.082771627900001      30030
30           42.2834205439  -71.093534493000007      31460
32      42.302743781300002  -71.058812648300005      35310
33      42.302945062100001  -71.067302887899999      67320
34           42.3090027768  -71.066886412100004      27170
35      42.308583886999998  -71.069381765700001      15510
36      42.310499267600001       -71.0641430652      23870
40      42.287295483999998  -71.061249274600002        440
42           42.2792881755  -71.050845329799998      71720
50           42.2794489877  -71.071603688799996      20460
53      42.287147273499997  -71.065578508599998      20350
54      42.271512894200001  -71.078259693999996      85470
56      42.275018058900002  -71.088974871000005       1210
57      42.269991636500002  -71.101607117200004      17050
59      42.275280669700003  -71.100976250900004      18480
60      42.276827448100001  -71.123726985999994        550
61      42.268085980800002  -71.113034484400004      17050
67      42.240684611900001       -71.1365740751       7810
76      42.272117970700002  -71.161061846300001      30470
78      42.290820849699998  -71.148824404300001      31240
80           42.2857458079  -71.165691070099996        440
81           42.2934077536  -71.165927912699999      31460
83      42.273434817099997  -71.164188951499995       9240
84      42.275414330099998  -71.165732116800001      42790
...                    ...                  ...        ...
169149  42.324433048700001  -71.088897998199997     358697
169150  42.324493747299996  -71.088998087999997      27500
169152  42.324180145299998  -71.089218712199994     380710
169153  42.324166834400003  -71.089066602599999     694379
169154  42.324078245899997  -71.089145925799997     117810
169155  42.323998364399998  -71.089262381300003      31570
169156  42.323905688499998  -71.089379769800004     276320
169164  42.323763007899998  -71.089838126199993     564850
169165  42.323960149800001  -71.089835598600004     400290
169166  42.323762879299998  -71.090114828099999     149380
169167  42.323824744699998  -71.090327428699993      19030
169168  42.323865228000003  -71.090424266599996      16390
169169  42.323971784299999  -71.090292339499996     597740
169170  42.323998041800003  -71.090073818199997     439170
169171  42.324122267500002  -71.090230626799993     355740
169172  42.324205040300001  -71.090047431399995     279070
169173  42.324474596100004  -71.090104104000005      21890
169174       42.3244521803  -71.090043386299996      18700
169175  42.324423082000003  -71.089984386200001     538450
169176  42.324407662799999  -71.089905161800004     458150
169177         42.32437573  -71.089840534199993      18150
169178  42.324326127900001  -71.089744140999997     409640
169186       42.3228701771  -71.088193028800006     479380
169187  42.322818334099999  -71.088245024399995     514470
169188  42.322696235899997  -71.088241561299995     421960
169189  42.322545316400003  -71.088330140899998     475090
169190  42.322619230100003  -71.088391080400001     533610
169191  42.322744240500001       -71.0884553219     931387
169193  42.324125004700001  -71.088202411599994   11532231
169198  42.323827342900003  -71.087232589600006    1512500

[83827 rows x 3 columns]

In [50]:
new = df[['latitude', 'longitude', 'gross_tax']]

In [51]:
new

                  latitude            longitude  gross_tax
4       42.270164603200001  -71.103090206700003      22880
5            42.2760713005  -71.097266281900005      24750
9            42.3276911735  -71.098235004599999      46750
15      42.257290923399999  -71.118838726600003      15950
17      42.251127307499999       -71.1345128679      35750
18           42.2504785016  -71.141134944599997      16060
27      42.300696783699998  -71.082771627900001      30030
30           42.2834205439  -71.093534493000007      31460
32      42.302743781300002  -71.058812648300005      35310
33      42.302945062100001  -71.067302887899999      67320
34           42.3090027768  -71.066886412100004      27170
35      42.308583886999998  -71.069381765700001      15510
36      42.310499267600001       -71.0641430652      23870
40      42.287295483999998  -71.061249274600002        440
42           42.2792881755  -71.050845329799998      71720
50           42.2794489877  -71.071603688799996      20460
53      42.287147273499997  -71.065578508599998      20350
54      42.271512894200001  -71.078259693999996      85470
56      42.275018058900002  -71.088974871000005       1210
57      42.269991636500002  -71.101607117200004      17050
59      42.275280669700003  -71.100976250900004      18480
60      42.276827448100001  -71.123726985999994        550
61      42.268085980800002  -71.113034484400004      17050
67      42.240684611900001       -71.1365740751       7810
76      42.272117970700002  -71.161061846300001      30470
78      42.290820849699998  -71.148824404300001      31240
80           42.2857458079  -71.165691070099996        440
81           42.2934077536  -71.165927912699999      31460
83      42.273434817099997  -71.164188951499995       9240
84      42.275414330099998  -71.165732116800001      42790
...                    ...                  ...        ...
169149  42.324433048700001  -71.088897998199997     358697
169150  42.324493747299996  -71.088998087999997      27500
169152  42.324180145299998  -71.089218712199994     380710
169153  42.324166834400003  -71.089066602599999     694379
169154  42.324078245899997  -71.089145925799997     117810
169155  42.323998364399998  -71.089262381300003      31570
169156  42.323905688499998  -71.089379769800004     276320
169164  42.323763007899998  -71.089838126199993     564850
169165  42.323960149800001  -71.089835598600004     400290
169166  42.323762879299998  -71.090114828099999     149380
169167  42.323824744699998  -71.090327428699993      19030
169168  42.323865228000003  -71.090424266599996      16390
169169  42.323971784299999  -71.090292339499996     597740
169170  42.323998041800003  -71.090073818199997     439170
169171  42.324122267500002  -71.090230626799993     355740
169172  42.324205040300001  -71.090047431399995     279070
169173  42.324474596100004  -71.090104104000005      21890
169174       42.3244521803  -71.090043386299996      18700
169175  42.324423082000003  -71.089984386200001     538450
169176  42.324407662799999  -71.089905161800004     458150
169177         42.32437573  -71.089840534199993      18150
169178  42.324326127900001  -71.089744140999997     409640
169186       42.3228701771  -71.088193028800006     479380
169187  42.322818334099999  -71.088245024399995     514470
169188  42.322696235899997  -71.088241561299995     421960
169189  42.322545316400003  -71.088330140899998     475090
169190  42.322619230100003  -71.088391080400001     533610
169191  42.322744240500001       -71.0884553219     931387
169193  42.324125004700001  -71.088202411599994   11532231
169198  42.323827342900003  -71.087232589600006    1512500

[83827 rows x 3 columns]

SyntaxError: EOL while scanning string literal (<ipython-input-57-5030f11c1d00>, line 1)

In [55]:
df

,av_bldg,av_land,av_total,cm_id,gis_id,gross_area,gross_tax,land_sf,latitude,living_area,...,u_kitch_type,u_num_park,u_orient,u_tot_rms,u_view,unit_num,yr_built,yr_remod,zipcode,geojson
4,0,20800,20800,NaN,1802070000,0,22880,4000,42.270164603200001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.270164603200001-71.103090206700003
5,0,22500,22500,NaN,1803008000,0,24750,4000,42.2760713005,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.2760713005-71.097266281900005
9,0,42500,42500,NaN,1000366000,0,46750,1796,42.3276911735,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2120,42.3276911735-71.098235004599999
15,0,14500,14500,NaN,1808798000,0,15950,2691,42.257290923399999,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2136,42.257290923399999-71.118838726600003
17,0,32500,32500,NaN,1811991000,0,35750,5438,42.251127307499999,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2136,42.251127307499999-71.1345128679
18,0,14600,14600,NaN,1812269056,0,16060,3000,42.2504785016,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2136,42.2504785016-71.141134944599997
27,0,27300,27300,NaN,1401830000,0,30030,3500,42.300696783699998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2121,42.300696783699998-71.082771627900001
30,0,28600,28600,NaN,1404960000,0,31460,3965,42.2834205439,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.2834205439-71.093534493000007
32,0,32100,32100,NaN,1500092000,0,35310,1765,42.302743781300002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2122,42.302743781300002-71.058812648300005
33,0,61200,61200,NaN,1501201000,0,67320,7563,42.302945062100001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2122,42.302945062100001-71.067302887899999
34,0,24700,24700,NaN,1501820000,0,27170,3474,42.3090027768,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2125,42.3090027768-71.066886412100004
35,0,14100,14100,NaN,1501888000,0,15510,2160,42.308583886999998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2125,42.308583886999998-71.069381765700001
36,0,21700,21700,NaN,1502834000,0,23870,2443,42.310499267600001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2125,42.310499267600001-71.0641430652
40,0,400,400,NaN,1603076000,0,440,100,42.287295483999998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2124,42.287295483999998-71.061249274600002
42,0,65200,65200,NaN,1604291001,0,71720,6353,42.2792881755,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2124,42.2792881755-71.050845329799998
50,0,18600,18600,NaN,1703130000,0,20460,2500,42.2794489877,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2124,42.2794489877-71.071603688799996
53,0,18500,18500,NaN,1704938001,0,20350,1980,42.287147273499997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2124,42.287147273499997-71.065578508599998
54,0,77700,77700,NaN,1800039000,0,85470,6012,42.271512894200001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.271512894200001-71.078259693999996
56,0,1100,1100,NaN,1800549001,0,1210,717,42.275018058900002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.275018058900002-71.088974871000005
57,0,15500,15500,NaN,1802023000,0,17050,2700,42.269991636500002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.269991636500002-71.101607117200004
59,0,16800,16800,NaN,1802802000,0,18480,4000,42.275280669700003,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126,42.275280669700003-71.100976250900004
60,0,500,500,NaN,1804761325,0,550,80,42.276827448100001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2131,42.276827448100001-71.123726985999994
61,0,15500,15500,NaN,1807163000,0,17050,2562,42.268085980800002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2136,42.268085980800002-71.113034484400004
67,0,7100,7100,NaN,1812781005,0,7810,1350,42.240684611900001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2136,42.240684611900001-71.1365740751
76,0,27700,27700,NaN,2003168000,0,30470,4235,42.272117970700002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.272117970700002-71.161061846300001
78,0,28400,28400,NaN,2006211000,0,31240,3000,42.290820849699998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.290820849699998-71.148824404300001
80,0,400,400,NaN,2008207000,0,440,178,42.2857458079,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.2857458079-71.165691070099996
81,0,28600,28600,NaN,2007581000,0,31460,3200,42.2934077536,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.2934077536-71.165927912699999
83,0,8400,8400,NaN,2009521000,0,9240,1430,42.273434817099997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.273434817099997-71.164188951499995
84,0,38900,38900,NaN,2010386000,0,42790,6800,42.275414330099998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2132,42.275414330099998-71.165732116800001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169149,235704,90384,326088,NaN,903774000,2798,358697,2460,42.324433048700001,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,1860,1992,2119,42.324433048700001-71.088897998199997
169150,0,25000,25000,NaN,903775000,0,27500,3066,42.324493747299996,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.324493747299996-71.088998087999997
169152,254700,91400,346100,NaN,903777000,1728,380710,1763,42.324180145299998,1358,...,NaN,NaN,NaN,NaN,NaN,NaN,1900,2011,2119,42.324180145299998-71.089218712199994
169153,164200,94800,259000,NaN,903778000,1134,694379,2475,42.324166834400003,1134,...,NaN,NaN,NaN,NaN,NaN,NaN,1950,NaN,2119,42.324166834400003-71.089066602599999
169154,21300,85800,107100,NaN,903779000,1404,117810,1443,42.324078245899997,777,...,NaN,NaN,NaN,NaN,NaN,NaN,1899,0,2119,42.324078245899997-71.089145925799997
169155,0,28700,28700,NaN,903780000,0,31570,3319,42.323998364399998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.323998364399998-71.089262381300003
169156,161000,90200,251200,NaN,903781000,3046,276320,1700,42.323905688499998,1890,...,NaN,NaN,NaN,NaN,NaN,NaN,1905,0,2119,42.323905688499998-71.089379769800004
169164,323600,189900,513500,NaN,903785000,4816,564850,8639,42.323763007899998,2820,...,NaN,NaN,NaN,NaN,NaN,NaN,1900,0,2119,42.323763007899998-71.089838126199993
169165,238400,125500,363900,NaN,903786000,2055,400290,3051,42.323960149800001,1385,...,NaN,NaN,NaN,NaN,NaN,NaN,1880,0,2119,42.323960149800001-71.089835598600004
169166,0,135800,135800,NaN,903787000,0,149380,6402,42.323762879299998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.323762879299998-71.090114828099999
169167,0,17300,17300,NaN,903788000,0,19030,1950,42.323824744699998,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.323824744699998-71.090327428699993
169168,0,14900,14900,NaN,903789000,0,16390,1671,42.323865228000003,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.323865228000003-71.090424266599996
169169,417600,125800,543400,NaN,903791000,4676,597740,3850,42.323971784299999,3383,...,NaN,NaN,NaN,NaN,NaN,NaN,1890,1999,2119,42.323971784299999-71.090292339499996
169170,307105,92140,399245,NaN,903792000,4536,439170,3750,42.323998041800003,3755,...,NaN,NaN,NaN,NaN,NaN,NaN,1880,1986,2119,42.323998041800003-71.090073818199997
169171,189800,133600,323400,NaN,903793000,5035,355740,3440,42.324122267500002,3163,...,NaN,NaN,NaN,NaN,NaN,NaN,1845,0,2119,42.324122267500002-71.090230626799993
169172,93800,159900,253700,NaN,903794000,3234,279070,7268,42.324205040300001,2098,...,NaN,NaN,NaN,NaN,NaN,NaN,1850,0,2119,42.324205040300001-71.090047431399995
169173,0,19900,19900,NaN,903795000,0,21890,1957,42.324474596100004,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.324474596100004-71.090104104000005
169174,0,17000,17000,NaN,903796000,0,18700,1927,42.3244521803,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.3244521803-71.090043386299996
169175,382700,106800,489500,NaN,903797000,3628,538450,1886,42.324423082000003,2508,...,NaN,NaN,NaN,NaN,NaN,NaN,1899,1995,2119,42.324423082000003-71.089984386200001
169176,320400,96100,416500,NaN,903798000,3212,458150,1954,42.324407662799999,2508,...,NaN,NaN,NaN,NaN,NaN,NaN,1890,0,2119,42.324407662799999-71.089905161800004
169177,0,16500,16500,NaN,903799000,0,18150,1900,42.32437573,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2119,42.32437573-71.089840534199993
169178,239400,133000,372400,NaN,903800000,4143,409640,5000,42.324326127900001,2522,...,NaN,NaN,NaN,NaN,NaN,NaN,1900,0,2119,42.324326127900001-71.089744140999997
169186,280900,154900,435800,NaN,903809000,4320,479380,1905,42.3228701771,3240,...,NaN,NaN,NaN,NaN,NaN,NaN,1890,0,2119,42.3228701771-71.088193028800006
169187,314800,152900,467700,NaN,903810000,4120,514470,1844,42.322818334099999,3090,...,NaN,NaN,NaN,NaN,NaN,NaN,1890,0,2119,42.322818334099999-71.088245024399995
169188,246100,137500,383600,NaN,903811000,5347,421960,1325,42.322696235899997,3219,...,NaN,NaN,NaN,NaN,NaN,NaN,1905,NaN,2119,42.322696235899997-71.088241561299995
169189,269200,162700,431900,NaN,903812000,5860,475090,2088,42.322545316400003,4065,...,NaN,NaN,NaN,NaN,NaN,NaN,1900,NaN,2119,42.322545316400003-71.088330140899998
169190,326200,158900,485100,NaN,903813000,5880,533610,1995,42.322619230100003,4194,...,NaN,NaN,NaN,NaN,NaN,NaN,1900,2005,2119,42.322619230100003-71.088391080400001
169191,435356,411359,846715,NaN,903814000,18310,931387,5900,42.322744240500001,14648,...,NaN,NaN,NaN,NaN,NaN,NaN,1899,1978,2119,42.322744240500001-71.0884553219
169193,7569786,2914060,10483846,NaN,903820000,1,11532231,201096,42.324125004700001,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2000,NaN,2119,42.324125004700001-71.088202411599994
169198,910900,464100,1375000,NaN,903882010,15625,1512500,14000,42.323827342900003,12500,...,NaN,NaN,NaN,NaN,NaN,NaN,1899,2010,2119,42.323827342900003-71.087232589600006

In [91]:
df['geojson'] = json.dumps({"type": "Point", "coordinates": [df["longitude"], df["latitude"]]})

TypeError: 4         -71.103090206700003
5         -71.097266281900005
9         -71.098235004599999
15        -71.118838726600003
17             -71.1345128679
18        -71.141134944599997
27        -71.082771627900001
30        -71.093534493000007
32        -71.058812648300005
33        -71.067302887899999
34        -71.066886412100004
35        -71.069381765700001
36             -71.0641430652
40        -71.061249274600002
42        -71.050845329799998
50        -71.071603688799996
53        -71.065578508599998
54        -71.078259693999996
56        -71.088974871000005
57        -71.101607117200004
59        -71.100976250900004
60        -71.123726985999994
61        -71.113034484400004
67             -71.1365740751
76        -71.161061846300001
78        -71.148824404300001
80        -71.165691070099996
81        -71.165927912699999
83        -71.164188951499995
84        -71.165732116800001
                 ...
169149    -71.088897998199997
169150    -71.088998087999997
169152    -71.089218712199994
169153    -71.089066602599999
169154    -71.089145925799997
169155    -71.089262381300003
169156    -71.089379769800004
169164    -71.089838126199993
169165    -71.089835598600004
169166    -71.090114828099999
169167    -71.090327428699993
169168    -71.090424266599996
169169    -71.090292339499996
169170    -71.090073818199997
169171    -71.090230626799993
169172    -71.090047431399995
169173    -71.090104104000005
169174    -71.090043386299996
169175    -71.089984386200001
169176    -71.089905161800004
169177    -71.089840534199993
169178    -71.089744140999997
169186    -71.088193028800006
169187    -71.088245024399995
169188    -71.088241561299995
169189    -71.088330140899998
169190    -71.088391080400001
169191         -71.0884553219
169193    -71.088202411599994
169198    -71.087232589600006
Name: longitude, dtype: object is not JSON serializable

In [88]:
df[['geojson', 'gross_tax']]

                                                  geojson  gross_tax
4       {"coordinates": [" + df[\"longitude\"].map(str...      22880
5       {"coordinates": [" + df[\"longitude\"].map(str...      24750
9       {"coordinates": [" + df[\"longitude\"].map(str...      46750
15      {"coordinates": [" + df[\"longitude\"].map(str...      15950
17      {"coordinates": [" + df[\"longitude\"].map(str...      35750
18      {"coordinates": [" + df[\"longitude\"].map(str...      16060
27      {"coordinates": [" + df[\"longitude\"].map(str...      30030
30      {"coordinates": [" + df[\"longitude\"].map(str...      31460
32      {"coordinates": [" + df[\"longitude\"].map(str...      35310
33      {"coordinates": [" + df[\"longitude\"].map(str...      67320
34      {"coordinates": [" + df[\"longitude\"].map(str...      27170
35      {"coordinates": [" + df[\"longitude\"].map(str...      15510
36      {"coordinates": [" + df[\"longitude\"].map(str...      23870
40      {"coordinates": [" + df[\"longitude\"].map(str...        440
42      {"coordinates": [" + df[\"longitude\"].map(str...      71720
50      {"coordinates": [" + df[\"longitude\"].map(str...      20460
53      {"coordinates": [" + df[\"longitude\"].map(str...      20350
54      {"coordinates": [" + df[\"longitude\"].map(str...      85470
56      {"coordinates": [" + df[\"longitude\"].map(str...       1210
57      {"coordinates": [" + df[\"longitude\"].map(str...      17050
59      {"coordinates": [" + df[\"longitude\"].map(str...      18480
60      {"coordinates": [" + df[\"longitude\"].map(str...        550
61      {"coordinates": [" + df[\"longitude\"].map(str...      17050
67      {"coordinates": [" + df[\"longitude\"].map(str...       7810
76      {"coordinates": [" + df[\"longitude\"].map(str...      30470
78      {"coordinates": [" + df[\"longitude\"].map(str...      31240
80      {"coordinates": [" + df[\"longitude\"].map(str...        440
81      {"coordinates": [" + df[\"longitude\"].map(str...      31460
83      {"coordinates": [" + df[\"longitude\"].map(str...       9240
84      {"coordinates": [" + df[\"longitude\"].map(str...      42790
...                                                   ...        ...
169149  {"coordinates": [" + df[\"longitude\"].map(str...     358697
169150  {"coordinates": [" + df[\"longitude\"].map(str...      27500
169152  {"coordinates": [" + df[\"longitude\"].map(str...     380710
169153  {"coordinates": [" + df[\"longitude\"].map(str...     694379
169154  {"coordinates": [" + df[\"longitude\"].map(str...     117810
169155  {"coordinates": [" + df[\"longitude\"].map(str...      31570
169156  {"coordinates": [" + df[\"longitude\"].map(str...     276320
169164  {"coordinates": [" + df[\"longitude\"].map(str...     564850
169165  {"coordinates": [" + df[\"longitude\"].map(str...     400290
169166  {"coordinates": [" + df[\"longitude\"].map(str...     149380
169167  {"coordinates": [" + df[\"longitude\"].map(str...      19030
169168  {"coordinates": [" + df[\"longitude\"].map(str...      16390
169169  {"coordinates": [" + df[\"longitude\"].map(str...     597740
169170  {"coordinates": [" + df[\"longitude\"].map(str...     439170
169171  {"coordinates": [" + df[\"longitude\"].map(str...     355740
169172  {"coordinates": [" + df[\"longitude\"].map(str...     279070
169173  {"coordinates": [" + df[\"longitude\"].map(str...      21890
169174  {"coordinates": [" + df[\"longitude\"].map(str...      18700
169175  {"coordinates": [" + df[\"longitude\"].map(str...     538450
169176  {"coordinates": [" + df[\"longitude\"].map(str...     458150
169177  {"coordinates": [" + df[\"longitude\"].map(str...      18150
169178  {"coordinates": [" + df[\"longitude\"].map(str...     409640
169186  {"coordinates": [" + df[\"longitude\"].map(str...     479380
169187  {"coordinates": [" + df[\"longitude\"].map(str...     514470
169188  {"coordinates": [" + df[\"longitude\"].map(str...     421960
169189  {"coordinates": [" + df[\"longitude\"].map(str...     475090
169190  {"coordinates": [" + df[\"longitude\"].map(str...     533610
169191  {"coordinates": [" + df[\"longitude\"].map(str...     931387
169193  {"coordinates": [" + df[\"longitude\"].map(str...   11532231
169198  {"coordinates": [" + df[\"longitude\"].map(str...    1512500

[83827 rows x 2 columns]

In [81]:
df[['geojson']].ix[4]

geojson    {"type": "Point", "coordinates": [-71.10309020...
Name: 4, dtype: object