In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json("https://data.cityofboston.gov/resource/g5b5-xrwi.json")

In [4]:
df.head(5)

,av_bldg,av_land,av_total,cm_id,gis_id,gross_area,gross_tax,land_sf,latitude,living_area,...,u_kitch_style,u_kitch_type,u_num_park,u_orient,u_tot_rms,u_view,unit_num,yr_built,yr_remod,zipcode
0,0,7900,7900,NaN,1102128015,NaN,0,243,#N/A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2130
1,152000,0,152000,NaN,1702569000,0,0,NaN,#N/A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
2,0,20600,20600,NaN,1800079000,0,0,2963,42.272122939699997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
3,0,520800,520800,NaN,1801014000,0,0,26825,42.268792190699997,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126
4,0,20800,20800,NaN,1802070000,0,22880,4000,42.270164603200001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2126

In [5]:
df.shape

(169199, 77)

In [6]:
df.dtypes

av_bldg              int64
av_land              int64
av_total             int64
cm_id              float64
gis_id             float64
gross_area         float64
gross_tax            int64
land_sf            float64
latitude            object
living_area        float64
longitude           object
lu                  object
mail_address        object
mail_addressee      object
mail_cs             object
mail_zipcode        object
num_floors         float64
own_occ             object
owner               object
pid                  int64
ptype                int64
r_ac                object
r_bdrms            float64
r_bldg_styl         object
r_bth_style         object
r_bth_style2        object
r_bth_style3        object
r_ext_cnd           object
r_ext_fin           object
r_fplace           float64
                    ...
s_unit_com         float64
s_unit_rc          float64
s_unit_res         float64
st_name             object
st_name_suf         object
st_num              object
structure_class     object
u_ac                object
u_base_floor       float64
u_bdrms            float64
u_bth_style         object
u_bth_style2        object
u_bth_style3        object
u_corner            object
u_fplace           float64
u_full_bth         float64
u_half_bth         float64
u_heat_typ          object
u_int_cnd           object
u_int_fin           object
u_kitch_style       object
u_kitch_type        object
u_num_park         float64
u_orient            object
u_tot_rms          float64
u_view              object
unit_num            object
yr_built           float64
yr_remod           float64
zipcode            float64
dtype: object

In [27]:
df[['av_total', 'latitude', 'longitude']].head(50)

    av_total            latitude            longitude
0       7900                #N/A                 #N/A
1     152000                #N/A                 #N/A
2      20600  42.272122939699997  -71.077952663299996
3     520800  42.268792190699997  -71.092650659200004
4      20800  42.270164603200001  -71.103090206700003
5      22500       42.2760713005  -71.097266281900005
6       2200  42.277845409999998  -71.097406571999997
7       1100                #N/A                 #N/A
8      70100  42.335425562300003  -71.108149429600005
9      42500       42.3276911735  -71.098235004599999
10    711300  42.329839093799997  -71.109986414900007
11     39900  42.324936454000003  -71.109501733900004
12     27200  42.325066313800001  -71.109158355999995
13    172700        42.314482661  -71.094144821300006
14     33900  42.317996409999999        -71.091662645
15     14500  42.257290923399999  -71.118838726600003
16      2500  42.251993214800002  -71.123134972000003
17     32500  42.251127307499999       -71.1345128679
18     14600       42.2504785016  -71.141134944599997
19   1317800  42.244390876099999  -71.134988398399997
20     16600       42.2777063606  -71.102320746900006
21      5500                #N/A                 #N/A
22     34300        42.296901362  -71.113547805099998
23      1600  42.283289991899998       -71.1328533067
24      5500                #N/A                 #N/A
25      5500                #N/A                 #N/A
26     24400  42.299404231899999  -71.075033281200007
27     27300  42.300696783699998  -71.082771627900001
28     22200  42.286109548799999  -71.082143579299995
29     26800  42.289596389300002  -71.090093677200002
30     28600       42.2834205439  -71.093534493000007
31      5500                #N/A                 #N/A
32     32100  42.302743781300002  -71.058812648300005
33     61200  42.302945062100001  -71.067302887899999
34     24700       42.3090027768  -71.066886412100004
35     14100  42.308583886999998  -71.069381765700001
36     21700  42.310499267600001       -71.0641430652
37      1000  42.293726423999999  -71.131895854500002
38    595700  42.290853189899998  -71.065322158900003
39     15600        42.287720643  -71.039589561100001
40       400  42.287295483999998  -71.061249274600002
41     13000  42.263902685600002  -71.162175822400002
42     65200       42.2792881755  -71.050845329799998
43     86000  42.279352364899999  -71.049585677699994
44   3490800                #N/A                 #N/A
45      6200  42.264303437000002  -71.162035279099996
46      9000  42.286895140699997  -71.071657204900006
47    133000       42.2864579823  -71.075716343099998
48      8400  42.263856082099998        -71.159736482
49     37500  42.283802144399999       -71.0749586771

In [26]:
df.av_total.head(5)

0      7900
1    152000
2     20600
3    520800
4     20800
Name: av_total, dtype: int64

In [28]:
max(df.av_total)

1522973700

In [29]:
df.av_total.max()

1522973700

In [14]:
df = df[df['latitude'] != "#N/A"]

In [27]:
df[['gross_tax']].describe()

          gross_tax
count  1.018420e+05
mean   1.556547e+06
std    2.054422e+07
min    0.000000e+00
25%    1.507275e+05
50%    4.298500e+05
75%    6.372300e+05
max    1.917569e+09

In [23]:
df.shape

(101842, 77)

In [28]:
df = df[df['gross_tax'] != 0]

In [29]:
df.shape

(83827, 77)

In [30]:
df[['gross_tax']].describe()

          gross_tax
count  8.382700e+04
mean   1.891060e+06
std    2.263047e+07
min    1.100000e+02
25%    3.625600e+05
50%    4.827900e+05
75%    7.213800e+05
max    1.917569e+09

In [31]:
df[['latitude', 'longitude', 'gross_tax']]

                  latitude            longitude  gross_tax
4       42.270164603200001  -71.103090206700003      22880
5            42.2760713005  -71.097266281900005      24750
9            42.3276911735  -71.098235004599999      46750
15      42.257290923399999  -71.118838726600003      15950
17      42.251127307499999       -71.1345128679      35750
18           42.2504785016  -71.141134944599997      16060
27      42.300696783699998  -71.082771627900001      30030
30           42.2834205439  -71.093534493000007      31460
32      42.302743781300002  -71.058812648300005      35310
33      42.302945062100001  -71.067302887899999      67320
34           42.3090027768  -71.066886412100004      27170
35      42.308583886999998  -71.069381765700001      15510
36      42.310499267600001       -71.0641430652      23870
40      42.287295483999998  -71.061249274600002        440
42           42.2792881755  -71.050845329799998      71720
50           42.2794489877  -71.071603688799996      20460
53      42.287147273499997  -71.065578508599998      20350
54      42.271512894200001  -71.078259693999996      85470
56      42.275018058900002  -71.088974871000005       1210
57      42.269991636500002  -71.101607117200004      17050
59      42.275280669700003  -71.100976250900004      18480
60      42.276827448100001  -71.123726985999994        550
61      42.268085980800002  -71.113034484400004      17050
67      42.240684611900001       -71.1365740751       7810
76      42.272117970700002  -71.161061846300001      30470
78      42.290820849699998  -71.148824404300001      31240
80           42.2857458079  -71.165691070099996        440
81           42.2934077536  -71.165927912699999      31460
83      42.273434817099997  -71.164188951499995       9240
84      42.275414330099998  -71.165732116800001      42790
...                    ...                  ...        ...
169149  42.324433048700001  -71.088897998199997     358697
169150  42.324493747299996  -71.088998087999997      27500
169152  42.324180145299998  -71.089218712199994     380710
169153  42.324166834400003  -71.089066602599999     694379
169154  42.324078245899997  -71.089145925799997     117810
169155  42.323998364399998  -71.089262381300003      31570
169156  42.323905688499998  -71.089379769800004     276320
169164  42.323763007899998  -71.089838126199993     564850
169165  42.323960149800001  -71.089835598600004     400290
169166  42.323762879299998  -71.090114828099999     149380
169167  42.323824744699998  -71.090327428699993      19030
169168  42.323865228000003  -71.090424266599996      16390
169169  42.323971784299999  -71.090292339499996     597740
169170  42.323998041800003  -71.090073818199997     439170
169171  42.324122267500002  -71.090230626799993     355740
169172  42.324205040300001  -71.090047431399995     279070
169173  42.324474596100004  -71.090104104000005      21890
169174       42.3244521803  -71.090043386299996      18700
169175  42.324423082000003  -71.089984386200001     538450
169176  42.324407662799999  -71.089905161800004     458150
169177         42.32437573  -71.089840534199993      18150
169178  42.324326127900001  -71.089744140999997     409640
169186       42.3228701771  -71.088193028800006     479380
169187  42.322818334099999  -71.088245024399995     514470
169188  42.322696235899997  -71.088241561299995     421960
169189  42.322545316400003  -71.088330140899998     475090
169190  42.322619230100003  -71.088391080400001     533610
169191  42.322744240500001       -71.0884553219     931387
169193  42.324125004700001  -71.088202411599994   11532231
169198  42.323827342900003  -71.087232589600006    1512500

[83827 rows x 3 columns]

In [37]:
new = df[['latitude', 'longitude', 'gross_tax']]
new['geojson'] = new[['latitude', 'longitude']].apply(lambda x: ''.join(x), axis=1)

/Users/YingHang/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app